<div class="basket">
  <button type="button">Go to Checkout</button>
  <ul id="basket-list">
      <li>
        <button>+</button> 1 <button>-</button> burger
      </li>
    
  </ul>
  <div class="row">
    <div class="col">Subtotal</div>
    <div class="col">£16.41</div>
  </div>
  <div class="row">
    <div class="col">Delivery</div>
    <div class="col">£16.41</div>
  </div>
  <div class="row">
    <div class="col">Service fee</div>
    <div class="col">£16.41</div>
  </div>
  <div class="row">
    <div class="col">Total</div>
    <div class="col">£16.41</div>
  </div>
</div>



